body{
    background-image: url(nonfiction_background.jpg);
    background-size: cover;
}
h1{
    height: 50px;
    width: 500px;
    background-color: rgb(216, 10, 89);
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    color: antiquewhite;
    margin-left: 500px;
}
p{
    height: 50px;
    width: 500px;
    background-color: rgb(225, 95, 105);
    margin: 25px;
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    padding-top: 15px;
    color: white;

}
.non_fiction{
    height: 400px;
    width: 300px;
    border: 2px solid black;
    border-radius: 35px;
}
button{
    height: 50px;
    width: 100px;
    border: 2px solid black;
    border-radius: 25px;
    position: relative;
    bottom: 200px;
    margin: 20px;
    background-color:rgb(211, 155, 11)
}
a{
    text-decoration: none;
    color: rgb(240, 0, 0);
    height: 20px;
    width: 20px;
    color: white;
    
}